.h1,
.h2,
.h3 {
	font-weight: 700;
}

.h1 {
	font-size: 34px;
	line-height: 46.3px;
}

.h2 {
	font-size: 28px;
	line-height: 38.13px;
}

.h3 {
	font-size: 18px;
	line-height: 24.51px;
	margin-bottom: 6px;
}
