.reviewForm {
	display: flex;
	flex-direction: column;
	gap: 25px;
	margin-bottom: 25px;
}

.button {
	padding: 14px 44px;
	font-size: 15px;
	font-weight: 700;
	line-height: 21px;
	background-color: #303030;
	color: #fff;
	border-radius: 8px;
}
